#container{
width:40%;
background-color: aquamarine;
padding: 20;
}
input{
width:80%;
box-sizing: border-box;
padding: 5;
}
ul,li{
padding: 0;
margin: 0;



}
.list{
margin: 15px;

}
.list>li{
background-color: bisque;
margin: 2px;
display: flex;
justify-content: space-between;
}
total_contact{
    margin-bottom: 2px;
    margin-top: 20px;
}